#-DCMAKE_BUILD_TYPE=RelWithDebInfo
#-DCUDA_ARCH_BIN=60
##-DDEBUG=ON
#
#-DUSE_ICC=OFF
#-DUSE_OPENMP=ON
#-DUSE_KNL=OFF
#-DUSE_CUDA=ON #OFF
#
#-DUSE_BLAS=OFF #ON
#-DUSE_LAPACK=OFF #ON
#-DUSE_OPENBLAS=ON #OFF #OFF
#
##-DPARTI_USE_LAPACKE
#
#-DUSE_MAGMA=OFF
##-DMAGMA_DIR=
#
#-DUSE_MKL=OFF
##-DMKL_DIR=
-DCMAKE_BUILD_TYPE=RelWithDebInfo

-DBUILD_SHARED=OFF
-DBUILD_STATIC=ON

-DUSE_CUDA=ON
-DCUDA_HOST_COMPILER=/usr/bin/gcc

-DUSE_OPENBLAS=ON
-DOpenBLAS_DIR=/work/zhang-x1/users/nks45/ParTI/install/lib/cmake/openblas

-DUSE_CBLAS=OFF
-DUSE_LAPACKE=OFF
